body{
    background-color: black;
}

nav {
    background-color: aliceblue;
}

#elemento-1  {
    background-color: blue;
    margin-left: 20%;
}

#elemento-2 {
    background-color: cornflowerblue;
    margin-left: 20%;
}

#navegador {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 20%;
}